<div class="page-header">
	<h1>Desafio</h1>
</div>

<p>
	Aplicação criada por Jeferson Farias Calazans para resolver o Desafio de programação 1 da Myfreecomm.
</p>

<%= link_to "Ir para a Aplicação", new_order_path %>
